* {
    background-color: rgb(32, 32, 83);
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

h1 {
    color: white;
}

p {
    color: white;
}

.form1 {
    display: ;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#formulario {
    display: flexbox;
    justify-content: center;
    align-items: center;
    width: 10%;
}


@media screen and (min-width: 768px) {
    h1 {
        color: white;
    }
    p {
        color: white;
    }
}