* {
    background-color: rgb(32, 32, 83);
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

h1 {
    color: white;
}

p {
    color: white;
}

.form1 {

    width: 100%;

}

#formulario {
    align-items: center;
    width: 20%;
    color: white;
    
}

#edad {
    
    color: rgb(0, 0, 0);
    background-color: white;
    font-size: large;
    padding: 20px;
}

#submit {
    align-self: auto;
    font-size: large;
    padding: 20px;
    color: white;
    
}

@media screen and (min-width: 768px) {
    h1 {
        color: white;
    }
    p {
        color: white;
    }
}