* {
    background-color: rgb(32, 32, 83);
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

h1 {
    color: white;
}

p {
    color: white;
}


form {
    display: flex;
    color: white;
    background-color: rgb(32, 32, 83);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}


@media screen and (min-width: 768px) {
    h1 {
        color: white;
    }
    p {
        color: white;
    }
}