* {
    background-color: rgb(32, 32, 83);
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

h1 {
    color: white;
}

p {
    color: white;
}

.form1 {
    display: grid;
    background-color: grey;
    width: 10%;
    color: white;
    margin: auto;
    padding: 10px;
    //haz que sea transparente la caja
    box-shadow: none;
    item
}


@media screen and (min-width: 768px) {
    h1 {
        color: white;
    }
    p {
        color: white;
    }
}