* {
    background-color: rgb(32, 32, 83);
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

h1 {
    color: white;
}

p {
    color: white;
}

.form1 {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    //establece un espacio entre los elementos de 10px dentro del flexbox
    padding: 500px;
}

#formulario {
    display: flexbox;
    justify-content: center;
    align-items: center;
    width: 20%;
    color: white;
}

#edad {
    width: 80%;
    color: rgb(0, 0, 0);
    background-color: white;
    font-size: large;
}

@media screen and (min-width: 768px) {
    h1 {
        color: white;
    }
    p {
        color: white;
    }
}